.filme-detalhes{
    display: flex;
    padding-bottom: 100px;
}


@media (max-width: 767px) {
    .filme-detalhes {
        display: flex;
        flex-direction: column;
    }
}



.filme-info{
    width: 76%;
}


@media (max-width: 767px) {
    .filme-info {
        width: 100%;
        padding-bottom: 50px;
    }
}




.info-item{
    display: block;
    padding-bottom: 20px;
}

.tagline{
    font-size: 20px;
    font-weight: 600;
}

.youtube-container {
    position: absolute;
    left: 0;
    right: 0;
    top: 0;
    bottom: 0;
}